
*{
  box-sizing: border-box;
}

body{
  background: #181818;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  padding: 0 0.5em;
} 

.content{
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

.titulo{
  text-align: center;
  font-size: 3em;
}

.info{
  color: #b70e21
}

.form{
  box-shadow: 0 0 20px 0 rgba(255,255,255, .3);
}

.form > *{
  padding: 1.5em;
}



.form {
  margin: 0;
  padding:  1em;
}

.form button,
.form input{
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid #b63031;
  color: #fff;
}

.form button{
  background: #b70e21;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
  padding-bottom:  .8em;
  cursor: pointer;
  margin-top: .6em;
  margin-bottom: .6em;
  width: 89%;
  margin-left: 1.7em;
}

.block{
  grid-column: 1/3;
}
